.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }      
.contenedor {
  height: 1000px;
  width: 1000px;
  position: absolute;
  margin: 0 auto;
  border-radius: 25px;        
}
.superior {
  width: 980px;
  height: 200px;
  float: left;
  background-color:white;
  padding: 10px;        
}
.izquierda{
  width: 480px;
  height: 200px;
  float: left;
  color: white;
  background-color: #2bb4b1;
  padding: 10px;      
}
.derecha{
  width: 480px;
  height: 200px;
  float: left;
  color: white;
  background-color: #29a9a7;
  padding: 10px;
}
.button {
  background-color:Green;
  border: none;
  color: white;
  padding: 10px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
